body,
h1 {
    margin: 0;
    padding: 0;
    font-family: 'lato', serif;
    width: 100%;
    overflow-x: hidden;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    list-style: none;
}

.header {
    position: relative;

}

.logo {
    top: 32px;
    left: 20px;
    position: absolute;
    z-index: 1;

}

.title-bg {
    position: relative;
    height: 100vh;
    background-image: url('../assets/background.png');
}

.title-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 53px;
    color: #ffff;
    text-align: center;
}

.text-container {
    padding-top: 72px;
}

.fs13 {
    font-size: 13px;
}

.text {
    width: 500px;
    margin: 0 auto;
}

.text-para-1 {
    font-size: 15px;
    color: #293340;
}

.text-para-2 {
    color: #293340;
    margin-top: 30px;
}

.image-container {
    text-align: center;
    margin-top: 30px;
    line-height: 18px;
}

.text-img {
    width: 666px;
    height: 480px;
}

.text-h2 {
    margin-top: 30px;
    text-transform: uppercase;
    color: #363d4f;
}

.text-para-3 {
    margin-top: 15px;
    line-height: 16px;
    color: #6d7783;
}

.list>li {
    list-style-type: disc;
    margin-top: 19px;
    color: #6d7783;
}

.list>li {
    margin-top: 6.7px;
}

.qoute {
    font-size: 15px;
    line-height: 21px;
    width: 420px;
    margin-top: 30px;
    color: #6d7783;
    font-weight: 300;
}

.cards {
    /* width: 75%; */
    width: 900px;
    margin: 10px auto 0;
}

.card>img {
    width: 100%;
    height: 307px;
    object-fit: cover;
}

.card-head {
    font-size: 12px;
    color: #363d4f;
    line-height: 27px;
}

.card {
    margin-left: 30px;
    display: inline-block;
    width: calc((100%/3) - 40px);
}

.card>.card-text {
    width: 100%;
    font-size: 10px;
    text-align: left;
}

.cards>li:last-child {
    /* margin-right: 0; */
}

.text-h3 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color:
        #363d4f;
    margin-top: 30px;
}

.text-para-4 {
    font-size: 10px;
    line-height: 16px;
    color: #6d7783;
    font-family: 'poppins', serif;
    margin-top: 14px;
}

.text-h4 {
    font-size: 22px;
    line-height: 34px;
    color: #363d4f;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

/* .cards>li:first-child {
    margin-left: 0px;
} */

.divider {
    margin: 20px auto;
    width: 58px;
    border: 1px solid #071fc8;
}

.footer-text {
    margin-top: 20px;
    background-color: #1f2026;
    text-align: center;
    color: #ffff;
    margin-bottom: 0;
    padding: 10px;
}